<!-- 
-Last 2 elements require passing variables to html template:
-Add user info to login at top of page
-Add rest of information from results from podcast subscription list
-Need custom button icons, not sure where to go with that yet.
-big black square svg file in images wasn't working
-group results when they are the same podcast just different format.
-->


<!-- Page Begins -->
<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">		
		<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.css" />
		<link type="text/css" rel="stylesheet" href="/stylesheets/helloworld.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.3/jquery.mobile.min.js"></script>
		<script src="/scripts/podKTop.js"></script>
	</head>
	<body>
		<div data-role='page'>
			<div data-role='header'>
				<h1>PodKatchor</h1>
			</div>
			<div data-role='main' class='ui-content'>
				{% if user_welcome_nickname %}
				<p>
					Welcome {{ user_welcome_nickname }}! (<a rel="external" href="{{ user_welcome_href }}">Logout</a> )
				</p>
				{% else %}
				<p>
					<a rel="external" href="{{ user_welcome_href }}">Sign In</a> to your Google account
				</p>
				{% endif %}
				
				<!-- Search iTunes for podcast -->
				<!-- <input id="iTunesSearchValue" type="text" placeholder="Search iTunes Store"/>
				<button id="iTunesSearchButton" data-inline="true">Go</button> -->

				<form id='iTunesSearchForm'>
					<label for='iTunesSearchValue'>Search iTunes Podcast Library:</label>
					<input id="iTunesSearchValue" name="iTunesSearchValue" type="search" placeholder="Search iTunes Store" value=''/>
					<button id="iTunesSearchButton" data-inline="true" class='ui-hidden-accessible'>Go</button>
				</form>	
				
				<!-- Display the search results with javascript -->
				<div id="iTunesSearchResultsHtml"></div>

				<p>http://feeds.twit.tv/sn.xml - Swap out the "sn" with "twig" / "twit" / "mbw" or any other twit show to try out other feeds</p>

				<!-- Add a podcast with a url -->
				<form id='podcastSubscriptionForm' style='display:none;'>
					<label for='podcastSubscriptionSearch' class='ui-hidden-accessible' style='text-align:right;'>URL</label>
					<input type='search' id='podcastSubscriptionSearch' name='podcastSubscriptionSearch' placeholder="Add url of RSS feed" data-clear-btn='true'>
					<input type="submit" value='Add Podcast' data-inline='true'>
				</form>

				<!-- Display player -->
				<div style='display:none;'>
					<audio controls id='myMusic1'>
						<source src='http://www.podtrac.com/pts/redirect.mp3/twit.cachefly.net/audio/sn/sn0462/sn0462.mp3'>
					</audio>
				</div>
				<div style='display:none;'>
					<a class="ui-btn ui-btn-inline" id="playBtn">&#9654; <span style='padding:0 0.5em;'>/</span> ||</a>
					<a class="ui-btn ui-btn-inline" id="rewindBtn">&lt;</a>
					<a class="ui-btn ui-btn-inline" id="fastForwardBtn">&gt;</a>
					<a class="ui-btn ui-btn-inline" id="muteBtn">Mute</a>
				</div>

				<div id='searchResultHtml'></div>

				<!-- I think I want to do a collapsible, maybe nested, with inline, so they are small, remove and refresh buttons in the h1 area-->
				<!-- Either do list dividers or set of collapsible lists, this allows multiple to be open at once vs collapsible set-->
				<!-- Display user's podcast subscription list -->
				<div id='subscriptionList'>
					{% for feed in podcast_feeds %}
					<div style='position:relative;' id='subscriptionItem_{{ loop.index }}'>
						<div style='position:absolute; top:0.3em; right:0.5em; z-index:1;'>
							<a href="javascript:removePodcast( '{{ feed.feedUrl }}', '{{ loop.index }}', '{{ feed.title }}' )" 
							   class='ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-inline' style='display:inline-block; padding:0.2em 1em;'></a>
							<a href="javascript:refreshPodcast('{{ feed.feedUrl }}')" class='ui-btn ui-icon-refresh ui-btn-icon-notext ui-btn-inline' 
							   style='display:inline-block; padding:0.2em 1em;'></a>
						</div>
						<div data-role='collapsible'>
							<h3 >
								<img src='{{ feed.imageUrl }}' alt='podcast logo' height='45' width='45' 
									 style='border-radius:0.3em; margin: 0 0.7em 0 0.5em; vertical-align: middle;'>	
								{{ feed.title }}
							</h3>
							<ul data-role='listview'>
								<li style='display:inline;'>
								</li>
								{% for show in feed.show %}
								<li> <button class="ui-btn ui-btn-inline" onclick="myAudio.playSelectedEpisode('{{ show.episode_url }}');">
									Play</button> {{ show.episode_title }}
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					{% endfor %}
				</div>
			</div> <!-- End data-role-main -->

			<div data-role='footer'>
				<h2>
					Podkatchor by kball
				</h2>
			</div>

		</div> <!-- End data-role-page -->
		<script src="/scripts/podK.js"></script>
	</body>
</html>
{% endautoescape %}