/* Need to fix button sizes on mobile */

/* ----- General styles used across the site ----- */
.notificationDiv{
	position: absolute;
	left: 50%;
	z-index: 1;
}

.notification{
	position: relative;
	left: -50%;
	padding: 0.5em 2em;
	background-color: rgb(255,255,100);
	border-radius: 0.5em;	
}



/* ----- Podcast page specific ----- */
.subscriptionItem{
	position:relative;
}
.subscriptionCollapsible a:first-child{
	padding-right: 5.5em;
}

.subscriptionItem img{
	border-radius:0.3em; 
	margin: 0;
	vertical-align: middle;
}

.subscriptionFunctions{
	position:absolute;
	z-index: 1;
	top: 0.5em;
	right: -0.7em;
}
.subscriptionFunctions a{
	display: inline-block;
	padding:0.1em 0.2em;
	margin-right: 0;
}

/* ----- Search page ----- */
