<!-- 
-Need custom button icons for volume, or leave it as word mute and un-mute, not sure where to go with that yet.
-->
{% extends 'base.html' %}
{% block body %}
{% if user_welcome_nickname %}
<p>
	Welcome {{ user_welcome_nickname }}! (<a rel="external" href="{{ user_welcome_href }}">Logout</a> )
</p>
{% else %}
<p>
	<a rel="external" href="{{ user_welcome_href }}">Sign In</a> to your Google account
</p>
{% endif %}

<!-- Display player -->
<div>
	<audio controls id='myMusic1'>
		<source src='http://www.podtrac.com/pts/redirect.mp3/twit.cachefly.net/audio/sn/sn0462/sn0462.mp3'>
	</audio>
</div>
<div>
	<a class="ui-btn ui-btn-inline" id="playBtn">&#9654; <span style='padding:0 0.5em;'>/</span> ||</a>
	<a class="ui-btn ui-btn-inline" id="rewindBtn">&lt;</a>
	<a class="ui-btn ui-btn-inline" id="fastForwardBtn">&gt;</a>
	<a class="ui-btn ui-btn-inline" id="muteBtn">Mute</a>
</div>

<!-- Display user's podcast subscription list -->
<div id='subscriptionList'>
	{% for feed in podcast_feeds %}
	<div style='position:relative;' id='subscriptionItem_{{ loop.index }}'>
		<div style='position:absolute; top:0.3em; right:0.5em; z-index:1;'>
			<a href="javascript:removePodcast( '{{ feed.feedUrl }}', '{{ loop.index }}', '{{ feed.title }}' )" 
			   class='ui-btn ui-icon-delete ui-btn-icon-notext ui-btn-inline' style='display:inline-block; padding:0.2em 1em;'></a>
			<a href="javascript:refreshPodcast('{{ feed.feedUrl }}')" class='ui-btn ui-icon-refresh ui-btn-icon-notext ui-btn-inline' 
			   style='display:inline-block; padding:0.2em 1em;'></a>
		</div>
		<div data-role='collapsible'>
			<!-- Working now -->
			<h3>
				<img src='{{ feed.imageUrl }}' alt='podcast logo' height='45' width='45' 
					 style='border-radius:0.3em; margin: 0 0.7em 0 0.5em; vertical-align: middle;'>
				{{ feed.title }}
			</h3>
			<ul data-role='listview'>
				{% for show in feed.show %}
				<li> <button class="ui-btn ui-btn-inline" onclick="myAudio.playSelectedEpisode('{{ show.episode_url }}');">
					Play</button> {{ show.episode_title }}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}