{% extends 'base.html' %}
{% block body %}

<!-- Display player -->
<div class='audioPlayerDiv'>
	<audio id='audioPlayer' class='audioPlayer' controls 
		   data-storage-id='{{ playlist.storage_id }}'
		   data-episode-url='{{ playlist.now_playing_url }}'
		   preload='metadata'>
		<source src='{{ playlist.now_playing_url }}'>
	</audio>
	<div class='ui-grid-a'>
		<div class='ui-block-a'>
			<form class='full-width-slider sliderForm'>
				<label for='playerSlider' class='ui-hidden-accessible'>playerSlider:</label>
				<input type='range' name='playerSlider' id='playerSlider' min='0' max='100' value='0'>
			</form>
		</div>
		<div class='ui-block-b'>
			<p id='playerTimeCurrent' data-init-playback-time='{{ playlist.now_playing_playback_time }}'>
				0:00
			</p>
		</div>
	</div>
	<div class='customAudioControls'>
		<a class="playBtn ui-btn ui-btn-inline" id='playBtn'>&#9654; <span style='padding:0 0.5em;'>/</span> ||</a>
		<a class="rewindBtn ui-btn ui-btn-inline" id='rewindBtn'>&lt;</a>
		<a class="fastForwardBtn ui-btn ui-btn-inline" id='fastForwardBtn' >&gt;</a>
		<a class="muteBtn ui-btn ui-btn-inline" id='muteBtn'>Mute</a>
	</div>
	<div id='playerEpisodeInfo'>
		<p>{{ playlist.now_playing_title_podcast }}</p>
		<p>{{ playlist.now_playing_title_episode }}</p>
	</div>
</div>
<!-- <div id='playlist' class='playlist'> -->
	<ul data-role='listview' data-split-icon='delete' id='playlist'>
		{% for episode in playlist.list_item %}
		<li data-icon='false' data-episode-url='{{ episode.url_episode}}'
			data-storage-id='{{ episode.storage_id }}'
			id='playlistItem_{{ loop.index }}' class='playlistItem'> 
			<a href='#'>
				<h2>{{ episode.title_podcast }}</h2>
				<p>{{ episode.title_episode }}</p>
<!-- 				<p>{{ episode.percent_listened }}%</p> -->
			</a>
			<a href="#" class='deleteBtn'></a>
		</li>
		{% endfor %}
	</ul>
<!-- </div> -->
{% endblock %}