{% extends 'base.html' %}
{% block body %}

<!-- Display player -->
<div id='playerDiv' class='mediaPlayersDiv'
     data-podcast-id='{{ playlist.now_playing_urlsafe_key }}'
     data-episode-url='{{ playlist.now_playing_url }}'>
    <div id='videoPlayerDiv' style='position:relative'>
        <a class='ui-btn' id='videoRewind' style='position:absolute; bottom:2em; left:2em; z-index=1; padding:0 0.2em; display:none;'>&gt;</a>
        <video id='videoPlayer' class='videoPlayer' width='100%' preload='metadata'
        style='display:none;'>
            <source id='videoSrc' src='{{ playlist.now_playing_video_url }}' type='video/mp4'>
        </video>
    </div>
    <audio id='audioPlayer' class='audioPlayer' preload='metadata'>
        <source id='audioSrc' src='{{ playlist.now_playing_audio_url }}' type='audio/mp3'>
    </audio>
    <div class='ui-grid-a'>
        <div class='ui-block-a'>
            <form class='full-width-slider sliderForm'>
                <label for='playerSlider' class='ui-hidden-accessible'>playerSlider:</label>
                <input type='range' id='playerSlider' min='0' max='100' value='0'>
            </form>
        </div>
        <div class='ui-block-b'>
            <p id='playerTimeCurrent' 
               data-playback-time='{{ playlist.now_playing_current_time }}'
               data-duration='{{ playlist.now_playing_duration }}'>
                0:00
            </p>
        </div>
    </div>
    <div class='customAudioControls'>
        <a class="playBtn ui-btn ui-btn-inline" id='playBtn'>||</a>
        <a class="rewindBtn ui-btn ui-btn-inline" id='rewindBtn'>&lt;</a>
        <a class="fastForwardBtn ui-btn ui-btn-inline" id='fastForwardBtn' >&gt;</a>
        <a class="muteBtn ui-btn ui-btn-inline" id='muteBtn'>Mute</a>
    </div>
    <div id='playerEpisodeInfo'>
        <p id='playerPodcastTitle'>{{ playlist.now_playing_podcast_title }}</p>
        <p id='playerEpisodeTitle'>{{ playlist.now_playing_episode_title }}</p>
    </div>
</div>
<div>
    <ul data-role='listview' data-split-icon='delete' id='playlist' 
        data-playlist-id='{{ playlist.urlsafe_key }}'>
        {% for episode in playlist.list_item %}
        <li data-icon='false' 
            data-episode-url='{{ episode.episode_url}}'
            data-podcast-id='{{ episode.urlsafe_key }}'
            class='playlistItem'> 
            <a href='#'>
                <h2>{{ episode.podcast_title }}</h2>
                <p>{{ episode.episode_title }}</p>
                <p class='ui-li-aside episodeCurrentTime' 
                   data-playback-time='{{ episode.current_time }}'>
                    <b>{{ episode.current_time }}</b></p>
            </a>
            <a href="#" class='deletePlaylistBtn'></a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}