{% extends 'base.html' %}
{% block body %}

<!-- Display player -->
<div class='audioPlayer'>
	<audio id='myMusic2' class='stdControls'>
		<source src='#' class='audioSource'>
	</audio>
	<div class='ui-grid-a'>
		<div class='ui-block-a'>
			<form class='full-width-slider sliderForm'>
				<label for='playerSlider' class='ui-hidden-accessible'>playerSlider:</label>
				<input type='range' name='playerSlider' id='playerSlider' min='0' max='100' value='0'>
			</form>
		</div>
		<div class='ui-block-b'>
			<p id='playerTimeCurrent'>
				0:00
<!-- 				{{ nowPlaying.currentTime }} -->
			</p>
		</div>
	</div>
	<div class='customAudioControls'>
		<a class="ui-btn ui-btn-inline" id="playBtn">&#9654; <span style='padding:0 0.5em;'>/</span> ||</a>
		<a class="ui-btn ui-btn-inline" id="rewindBtn">&lt;</a>
		<a class="ui-btn ui-btn-inline" id="fastForwardBtn">&gt;</a>
		<a class="ui-btn ui-btn-inline" id="muteBtn">Mute</a>
	</div>
	<p id='playerEpisodeInfo'>
		Podcast title | Episode title
<!-- 		{{ nowPlaying.title_podcast }} {{ nowPlaying.title_episode }} -->
	</p>
</div>

<div id='playlist' class='playlist'>
	<ul data-role='listview' data-split-icon='delete'>
		{% for episode in playlist %}
		<li data-icon='false' data-episode-url='{{ episode.url_episode
												}}' id='playlistItem_{{ loop.index }}' class='playlistItem'> 
			<a href='#'>
				<h2>{{ episode.title_podcast }}</h2>
				<p>{{ episode.title_episode }}</p>
<!-- 				<p>{{ episode.percent_listened }}%</p> -->
			</a>
			<a href="#" class='deleteBtn'></a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}